.body {
    background-image: url("/OpenSpace/images/");
    background-size: 100%;
    background-repeat: no-repeat;
}

.buttonPrimary {
    background-color: blue;
    color: #FAFAFA;
    text-align: center;
    border-radius: 4px;
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.buttonSecondary {
    height: 20px;
    font-size: 14px;
    color: #f6f6f8;
    padding: 10px;
    text-align: center;
    text-justify: center;
    background-color: transparent;
    border: none;
}

.btnBlock {
    background-color:transparent;
    width: 1200px;
    height: 100px;
    display: block;
    margin: 25px auto;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: purple;

}

.navigation {
    background-color: orange;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    align-self: flex-start;
}
.navButtons {
    align-self: flex-end;
}

.hero {
    width: 1200px;
    height: 85vh;
    /* background-image: placeholder; */
    background-color: pink; 
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

.heroContent {
    background-color: #f6f6f8;
    color: blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroContent h1 {
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 10px;
}
.heroContent p {
    color: blue;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 0px;
    align-self: flex-start;
    margin-left: 120px;
}
.heroPic {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroPic img {
    height: 80%;
    background-color: purple;
    }




.weDo {
    width: 1200px;
    height: 70vh;
    background-color: #f6f6f8; 
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
}

.weDoContainer {
    background-color: #f6f6f8;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    
}
.weDo h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   width: 150px;
    font-size: 64px; 
    text-align: right;
    min-width: 560px;
    color: #1F3D27;
  }
  
  .weDo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   width: 150px;
    font-size: 14px; 
    text-align: right;
    min-width: 560px;
  }
.weDoImage {
    background-color: rgb(78, 65, 148);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weDoImage img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat ;
    background-size: cover;
}





.featuredSpaces {
    width: 1200px;
    background-color: pink; 
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.featuredSpaces h1 {
    width: 1200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 64px;
    color: blue;
    text-align: center;
    margin-top: 100px;
}


.featuredImages {
    width: 1200px;
    height: 900px;
    margin: 0% auto 0% auto;  
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}

.spaceSmall {
    background-color: grey;
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spaceSmall img {
    height: 45%;
    margin: 10px 133px 10px 133px;
    background-color: greenyellow;
    border-radius: 20px;    
    }
.spaceLarge {
    background-color: grey;
    width: 50%;
    align-items: Right;
    margin-top: 50px;
}

.spaceLarge img {
    background-color: grey;
    Width: 90%;
    border-radius: 20px;    
    align-items: Right;
}
.featured button {
    align-self: flex-end;
}






.apps {
    width: 1280px;
    height: 75vh;
    /* background-image: url("images/syed.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.appContent {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appContent img {
    width: 50%;
    border-radius: 60px;
    box-shadow: grey;

}
.description {
    text-align: center;
    align-items: center;
}

.app h1 {
    margin-top: 20px;
    font-size: 64px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: blue;
}






.customerReviews {
    width: 1280px;
    height: 720px;
    background-color: grey; 
    margin-left:auto;
    margin-right: auto;
}

.carousel {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.carousel p {
    color: black;
    text-align: center;
}
.review1 {
    background-color: pink;
    border-radius: 4px;
    width: 1080px;
    padding: 10px; 
    margin: 80px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel img {
    height: 200px;
    width: 200px;
    }

.reviewContent {
        background-color: purple;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }









    .footer {
        background-color: orange;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footerLogo {
        display: flex;
        flex-direction: column;
    }
    
    .Social img {
        height: 20px;
        width: 20px;
        background-color: #1F3D27 ;
        border: #1F3D27;
        border-radius: 100%;
    }
    .ContactAndSocial {
        width: 100%;
        background-color: #f6f6f8; 
        margin-left:auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
    }
    .Contact {
        color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Contact h3{
        color: blue;
        justify-content: center;
        text-align: center;
    }
    .ContactAndSocial img {
        height: 200px;
        width: 200px;
         border-radius: 80%;
        }
    
    .Social img {
        height: 30px;
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 0;
    }
    



/*

.myCarousel {
    width: 1440px;
    margin:0 auto;
    display: flex;
    flex-direction: column;

}

.myCarousel slide img {
    background-color: #99A393;
}
.myCarousel img {
    height: 600px;
    width: 600px;
    padding: 20px;
    }


.myCarousel h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 10px;
    align-self: center;
}

.myCarousel p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.carousel-item {
    height: 420px;
    width: 420px;
    border-radius: 20px;
    }
.carousel-indicators {
 justify-items: center;
}
#carousel-caption {
color: black;
}
.carousel-item active {
    background-color: #99A393;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.carousel-item {
    background-color: #99A393;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}




.SpaceBreak {
    width: 100%;
    height: 720px;
    background-color: #f6f6f8; 
    display: flex;
    flex-direction: row;
}
.SpaceImage {
    margin-top: 10px;
    box-sizing: border-box;
}
.SpaceImage img {
    height: 720px;
    background-repeat: no-repeat ;
    background-size: cover;
    transform: rotate(90deg);
}

.imageSpace {
    width: 1440px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.imageSpace img {
    width: 50%;
    background-image: url("/class/images/annie.jpg");
    background-repeat: no-repeat ;
    background-size: contain;
    transform: rotate(90deg);
}


*/


















